.button {
  background: var(--tertiary-color);
  min-width: 240px;
  border-radius: 10px;
  font-size: 18px;
  padding: 12px 40px;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
  border: none;
  margin-top: 16px;
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
