.button {
  background: var(--secondary-color);
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  color: var(--light-color);
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.button:hover {
  color: var(--dark-color);
  background-color: var(--light-color);
}
