.form {
  display: flex;
  justify-content: center;
}
.form form {
  max-width: 80%;
  background-color: var(--light-color);
  padding: 36px 64px 0;
}

.btn-form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__category {
  display: flex;
  justify-content: space-between;
}