.footer {
  background: linear-gradient(to bottom, #bba99f, #ba8d90);
  color: var(--light-color);
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer__logo {
  height: 100px;
}

@media (max-width: 768px) { 
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }
}