.banner__cabecalho {
  background-image: url("../../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: end;
  padding: 32px;
}

.banner__cabecalho img {
  max-width: 100%;
  opacity: 0.4;
}
