.category {
  text-align: center;
  padding: 60px 32px;
  background-blend-mode: multiply;
  position: relative;
}

.category h3 {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.category__books {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  margin-top: 32px;
  flex-wrap: wrap;
}

.input__color {
  position: absolute;
  top: 20px;
  right: 50px;
}
